<!DOCTYPE html>
<html>
<head>
  <title>Riter Application</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <header class="full">header</header>
  <section class="main">
    <textarea class="input" id="pad">Here's the text</textarea>
    <div class="result" id="markdown"></div>
  </section>
  <footer class="full">footer</footer>

  <script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.2/dist/showdown.min.js"></script>
  <script src="/channel/bcsocket.js"></script>
  <script src="/share/share.uncompressed.js"></script>
  <script src="/share/textarea.js"></script>
  <script src="script.js"></script>
</body>
</html>
