Skip to content
This repository
Search
Pull requests
Issues
Gist
 @shannpersand
 Unwatch 1
  Star 0
 Fork 0 shannpersand/riter-app
 Code  Issues 0  Pull requests 0  Projects 0  Wiki  Pulse  Graphs  Settings
Branch: no-db Find file Copy pathriter-app/public/style.css
4a2128c  on Jul 22
@shannpersand shannpersand adjusts line height
1 contributor
RawBlameHistory
113 lines (80 sloc)  2.96 KB
/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain)
 * */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/* apply a natural box layout model to all elements, but allowing components to change */
html { box-sizing: border-box; font: 62.5%/1.15 sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: greyscale; color: black; text-rendering: optimize-Legibility; }

*, *:before, *:after { box-sizing: inherit; }

/* custom styles */
body { font-size: 1.6rem; line-height: 1.15; font-family: impact; background: whitesmoke; }

html, body { height: 100%;}
header {
  background: cornflowerblue;
  min-height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer {
  min-height: 5%;
  background: salmon;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main {
  height: 85%;
  display: flex;
  align-items: stretch;
  padding: 2.5%;
}

textarea {
  font-family: "Riter Basic", "Input Sans", Monaco, COnsolas, monospace;
  font-size: 1.6rem;
  line-height: 1.6;
  border: none;
  overflow: auto;
  outline: none;
  resize: none;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  padding: 2%;
  width: 50%;
}

.result {
  overflow: auto;
  width: 50%;
  padding: 2%;
}


p { font-family: optima; }

img { width: 100%; }

a { font-size: 1.8rem; text-decoration: none; }

/* Paragraph Styles */
h1 { font-size: 4.4rem;
  margin-bottom: 1.2rem;
  text-align: center;
 }

h2 { font-size: 3rem; margin-bottom: 1rem; }

h3 { font-size: 2.4rem; margin-bottom: 1rem; }

h4 { font-size: 2rem; margin-bottom: 1rem}

p { font-size: 1.8rem; line-height: 1.35; margin-bottom: 1rem; }
p.small-caps { text-transform: uppercase; letter-spacing: 1px; font-size: 1.35rem; font-weight: bolder; }

small { font-size: 0.8rem; }

caption { font-size: 0.6rem; text-transform: uppercase; letter-spacing: 1px; }

strong, .bolder { font-weight: bolder; }

em { font-style: italic; }

ul {
  list-style-type: disc;
  margin-left: 4%;
  margin-bottom: 1.6rem;
}

li {
  font-family: optima;
}
